body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 100px;
  max-width: 400px;
  height: 350px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 30px;
}
#login .container #login-row #login-column #login-box #login-form #signup-link {
  margin-top: -55px;
}

#signup .container #signup-row #signup-column #signup-box {
  margin-top: 100px;
  max-width: 600px;
  height: 520px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#signup .container #signup-row #signup-column #signup-box #signup-form {
  padding: 30px;
}
#signup .container #signup-row #signup-column #signup-box #signup-form #login-link {
  margin-top: -55px;
}

#logout .container #logout-row #logout-column #logout-box #logout-form #logout-link {
  margin-top: -55px;
}

#loggedin .container #loggedin-row #loggedin-column #loggedin-box {
  margin-top: 100px;
  max-width: 400px;
  height: 200px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  text-align: center
}

#login .container #loggedin-row #loggedin-column #loggedin-box #loggedin-form {
  margin-top: -50px;
  text-align: center
}

#signedup .container #signedup-row #signedup-column #signedup-box {
  margin-top: 100px;
  max-width: 600px;
  height: 200px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  text-align: center
}

#login .container #signedup-row #signedup-column #signedup-box #signedup-form {
  margin-top: -50px;
  text-align: center
}

.signup-button {
  margin-left: 30px;
}