{% extends "base.html" %}
{% block title %}You've logged in {% endblock %}

{% block content %}
<div id="signedup">
    <div class="container">
        <div id="signedup-row" class="row justify-content-center align-items-center">
            <div id="signedup-column" class="col-md-6">
                <div id="signedup-box" class="col-md-12">
                    <h3 style="margin-top:40px">You have successfully signed up!</h3>
                    <div id="login-link" class="text-center">
                        <a class="btn btn-info btn-md" href="/">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}